<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<title>{{ greeting.title }}</title>

<meta property="og:type"        content="website" />
<meta property="og:url"         content="http://{{ request.META.HTTP_HOST }}" />
<meta property="og:title"       content="{{ greeting.title }}" />
<meta property="og:description" content="Food is running late, huh? You're probably hungry... that's too bad." />
<meta property="og:image"       content="http://{{ request.META.HTTP_HOST }}{% static 'gotpeachd.jpg' %}" />

<meta name="twitter:card"   content="summary_large_image" />
<meta name="twitter:domain" value="{{ request.META.HTTP_HOST }}" />
<meta name="twitter:title"  value="{{ greeting.title }}" />
<meta name="twitter:description" value="Food is running late, huh? You're probably hungry... that's too bad." />
<meta name="twitter:url"    value="http://{{ request.META.HTTP_HOST }}" />
<meta name="twitter:image"  value="http://{{ request.META.HTTP_HOST }}{% static 'gotpeachd.jpg' %}" />
<meta name="twitter:label1" value="{{greeting.name|title}} ordered">
<meta name="twitter:data1"  value="Delicious food 🍔🌮🍜">
<meta name="twitter:label2" value="Time of arrival">
<meta name="twitter:data2"  value="Probably never 😢">

<link rel="icon" href="{% static 'favicon.ico' %}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
